@import "_mixins.scss";

@import "_palette.scss";

.search-header {
  font-size: 4rem;
  margin: 2rem auto 3rem auto;
  text-align: center;
}

.search-header-link,
.search-header-link:visited,
.search-header-link:link {
  text-decoration: none;
  color: blue;
}
.search-header-link:hover {
  text-decoration: underline;
}
.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  margin: 2rem auto;
}
#search-area {
  width: 30vw;
  height: 10vh;
  font-size: 2rem;
  margin: 3rem auto;
  padding-left: 1rem;
  padding-top: 1rem;
}
.submit-button {
  font-size: 3.5rem;
  padding: 1rem;
  border-radius: 3rem;
  font-family: "Times New Roman", Times, serif;
  border-color: cadetblue;
}

.submit-button:hover {
  transform: translate(3px, 3px);
  cursor: crosshair;
}
.menu-grid {
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 74vw;
  background-color: #99ff99;
  padding: 3rem auto;
  margin: 1rem auto;
  align-items: center;
}

.food-card {
  height: 32vh;
  width: 15vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}

.food-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.food-card:hover .food-card-inner {
  transform: rotateY(180deg);
}

.food-card-front {
  border: solid 0.5rem black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 1;
  transition: all 0.5s;
}

.picture {
  width: 100%;
  height: 100%;
  background-color: white;
}

.food-card-back {
  transform: rotateY(180deg);
  border: solid 0.5rem black;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.food-card:hover .food-card-front {
  z-index: 0;
}
.food-card:hover .food-card-back {
  z-index: 1;
  display: flex;
}

.food-title {
  font-size: 2rem;
  text-align: center;
}

.restaurant-chain {
  text-align: center;
  font-size: 1.5rem;
}

.go-back {
  font-size: 2rem;
  @include flex-column-center;
  padding: 5rem;
  flex-direction: reverse;
}
