@import "_mixins.scss";

@import "_palette.scss";

$font-main: "Varela", sans-serif;
$font-second: "Josefin Slab", serif;
$font-bold: "Montserrat", sans-serif;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: $font-main;
  font-weight: 500;
  background-color: #77ddaa;
}

.main-text {
  text-align: center;
  font-size: 10rem;
  margin: 0rem;
  padding: 2rem;
  color: black;
  text-shadow: 4px 3px 0px #d3d3d3, 9px 8px 0px rgba(0, 0, 0, 0.15);
}

.sub-text {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 5rem;
  margin: 0rem;
  color: black;
  text-shadow: 0rem 0.2rem 0.2rem white;
}

.menu-grid {
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 74vw;
  background-color: #99ff99;
  padding: 3rem auto;
  margin: 1rem auto;
  align-items: center;
}

.food-card {
  height: 32vh;
  width: 15vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}

.food-card-front {
  border: solid 0.5rem black;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 1;
  transition: all 0.5s;
}

.picture {
  width: 100%;
  height: 100%;
  background-color: white;
}

.food-card-back {
  border: solid 0.5rem black;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
}

.food-card:hover .food-card-front {
  z-index: 0;
}
.food-card:hover .food-card-back {
  z-index: 1;
  display: flex;
}

.food-title {
  font-size: 2rem;
  text-align: center;
}

.restaurant-chain {
  text-align: center;
  font-size: 1.5rem;
}

.search-bar-floater {
  position: fixed;
  top: 50px;
  right: 50px;
  transition: all ease-in-out 0.3s;
  transform: translate(-50%, -50%);
}

.search-anchor {
  position: relative;
  width: auto;
  height: auto;
}
.search-submit {
  opacity: 0;
  width: 0;
}
.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: none;
  border: none;
  background: #fff;
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  opacity: 0;
  z-index: 5;
  transition: all 0.3;
  font-size: 2rem;
}
.search-bar:hover {
  cursor: pointer;
}
.search-bar:focus {
  width: 20rem;
  left: auto;
  opacity: 1;
  cursor: text;
  transition: all 0.3;
  padding-left: 2.5rem;
  padding-right: 7rem;
}
.search-toggler {
  position: absolute;
  width: 6rem;
  height: 6rem;
  background: #037d50;
  opacity: 1;
  top: -0.4rem;
  left: -0.4rem;
  border-radius: 50%;
  transition: all 0.2s;
}
.search-toggler:hover {
  cursor: pointer;
}
.search-toggler::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 2.2rem;
  right: 0;
  bottom: 0;
  left: 2.2rem;
  width: 1.2rem;
  height: 0.2rem;
  background: #fff;
  transform: rotate(45deg);
  transition: all 0.2s;
}
.search-toggler::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -0.5rem;
  right: 0;
  bottom: 0;
  left: -0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.2rem solid #fff;
  transition: all 0.3s;
}
.search-bar:focus ~ .search-toggler {
  right: 40rem;
  background: #151515;
  z-index: 6;
  transition: all 0.3;
}
.search-bar:focus ~ .search-toggler::before {
  top: 0;
  left: 0;
  width: 3rem;
}
.search-bar:focus ~ .search-toggler::after {
  top: 0;
  left: 0;
  width: 3rem;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
