@import "_mixins.scss";

@import "_palette.scss";

$font-main: "Varela", sans-serif;
$font-second: "Josefin Slab", serif;
$font-bold: "Montserrat", sans-serif;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: $font-main;
  font-weight: 500;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background-color: color(cadet-blue);
  @include flex-column-center;
}

.main-text {
  font-size: 10rem;
  margin: 0rem;
  padding: 2rem;
  color: color(fiery-rose);
  text-shadow: 0.2rem 0.2rem 0rem black;
}

.sub-text {
  font-size: 5rem;
  margin: 0rem;
  color: color(dutch-white);
  text-shadow: 0.2rem 0.2rem 0rem black;
}

.menu-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  background-color: color(dutch-white);
  margin: 1rem;
  padding: 3rem;
  align-items: center;
}

.menu-picture {
  height: 65vh;
  width: 20vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}

.picture {
  width: 100%;
}
