@import "_mixins.scss";

@import "_palette.scss";

$font-main: "Arvo", serif;
$font-second: "Josefin Slab", serif;
$font-bold: "Montserrat", sans-serif;

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: $font-bold;
  font-weight: 500;
}

.main-box {
  background-color: color(cadet-blue);
  width: 100vw;
  height: 100vh;
  @include flex-column-center;
  justify-content: center;
}

.main-head {
  text-align: center;
  color: white;
  border: 0rem;
  font-size: 12rem;
  text-transform: uppercase;
  font-weight: bold;
}
.main-h1 {
  color: color(rich-black);
  font-size: 5rem;
  @include flex-row-center;
  align-items: center;
  justify-content: center;
}

.container {
  width: 70vw;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 8rem;
  padding-right: 8rem;
  font-size: 4rem;
  border-radius: 1rem;
  transition: all 0.3s;
  color: color(cadet-blue);
  background-color: white;
}

.btn:hover {
  transform: translateY(-3px) scale(1.4);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.btn:hover::after {
  transform: scaleX(1.5), scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
}
